.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg); /*os dois pontos servem para procurar na pasta principal e nao apenas na pasta styles*/
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu {
    background-image: url("../assets/MenuAberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--cor-primaria);
}

.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* tirar do cabeçalho a lista menu */
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em; /* em é em função do tamanho do item */
}

.lista-menu {
    display: none;
    position: absolute; /* para poder mover a lista menu */
    top: 100%; /* colocar a lista menu abaixo do cabeçalho */
    width: 60vw; /* 60% do view width (largura da tela) */
}

.container__botao:checked ~ .lista-menu { /* checked detecta se está preenchido o check do checkbox / ~ combina com um elemento anterior */
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branco);
}

.lista-menu__titulo {
    color: var(--cor-secundaria);
    font-weight: 700;
    
}

.lista-menu__link {
    background: var(--cor-primaria);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase; /* colocar texto em maiusculo */
    
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--cor-preto);
    }
    
    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;   
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--cor-primaria);
        color: var(--cor-branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--cor-primaria);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px) {

    .container__texto {
        display: block;
    }
    
    .opcoes {
        margin-right: auto;
    }
    
    .cabecalho {
        padding: 0 2em;
    }
    
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preto);
    }

}